<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Super Bowl XLIV &amp; Pro Bowl 2010 Official Game Day and Events Parking by Click and Park</title>
	<meta name="generator" content="BBEdit 8.0" />
	
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />


<script type="text/javascript" src="javascript/oodomimagerollover.js">

/***********************************************
* DOM Image Rollover II- By Adam Smith (http://www.codevendor.com)
* Script featured on and available at Dynamic Drive (http://www.dynamicdrive.com)
* Keep this notice intact for usage please
***********************************************/

</script>		
	
</head>
<body class="confirm">


<div id="wrapper_confirm">

	<div id="wrapper_confirm_inside">
		
		<table id="superheader">
			<tr>
				<td><div id="logo_cnp_confirm"><img src="images/logo-cnp-small.jpg" alt="Click and Park" /></div></td>
				<td align="right"><a href="/"><img src="images/btn-return.png" alt="Return to Parking Information Site" /></a></td>
			</tr>
		</table>

      <%= yield %>

</div><!--end wrapper_confirm-->




<div id="footer_confirm">

<span id="footer_nav">
<a href="/">Home</a> &nbsp;|&nbsp; 
<a href="/superbowl">Super Bowl XLIV</a> &nbsp;|&nbsp; 
<a href="/probowl">Pro Bowl</a> &nbsp;|&nbsp; 
<a href="/nflol">NFL On Location</a> &nbsp;|&nbsp; 
<a href="/sap">Pre-Event Parking</a><br />
<a href="/staff">Staff & Volunteer Shuttle</a> &nbsp;|&nbsp; 
<a href="/vap">Vendor Access (VACIS)</a>
</span>

<a href="http://www.clickandpark.com/" target="_blank" style="display:block;padding-top:10px;"><img src="images/logo-cnp-small.jpg" alt="Click and Park" /></a>


</div>

</div><!--end wrapper_inside-->





</body>
</html>
